*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght") format("truetype");
    font-weight: normal;
}

/*Tête*/

#bloc_page
{
    border: solid;
    width: 900px;
    margin: auto;
}

body
{
    font-family: "Raleway", sans-serif;
    font-size: small;
}

h2
{
    font-size: large;
}

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#navigation
{
    width: 30%;   
}

#navigation ul
{   
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin: 0%;
}

#navigation a, form div a
{
    text-decoration: none;
    color: black;
}

#navigation a:hover
{
    color: #0065FC;
    border-top: solid;
    padding-top: 50px;
}

#logo
{
    width: 20%;
    margin-left: 2%;
    padding: 0%;
}

#tete h2
{
    margin-bottom: 1%;
}

.info
{
    margin-top: 0%;
}

form div
{

    display: flex;
}

form div i
{

    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-size: medium;    
    padding: 10px;
    height: 35px;
}

#recherche
{
    height: 35px;
    border: solid #F2F2F2;
}

::placeholder
{
    color:black;
    font-weight: bolder;
    padding: 10px;
}

#bouton
{
    border: none;
    background: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 35px;
}

#loupe
{
    display: none;
}

#filtres
{
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 15%;
    justify-content: space-between;
    margin: 2% 0%;
}

.fil
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-left: 2% ;
}

.fil a
{
    border: solid #F2F2F2;
    text-decoration: none;
    color: #0065FC;
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: 33px;
    border-radius: 20px;
    width: 85%;
}

.fil i
{
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
}

.fil p
{
    color: black;
    margin-left: 10%;
}

.fil4 a
{
    width: 130%;
}

.fil a:hover
{
    background: #0065FC;
}

.info2
{
    display: flex;
    align-items: center;
}

.info2 i
{
    color: #0065FC;
    border: solid #DEEBFF 2px;
    padding: 0.5%;
    border-radius: 50%;
    font-size: 80%;
    margin-right: 1%;
}

