#bloc_page
{
    width: 100%;
    margin: auto;
}

/*Tête*/

header
{
    display: flex;
    flex-direction: column-reverse;
    margin: 0%;
}

#navigation
{
    width: 100%;
}

#navigation ul
{
    padding: 0%;
}

#navigation ul li
{
    border: solid #0065FC;
    border-top-style: none;
    font-size: larger;
    border-radius: 20%;
    box-shadow: 5px 2.5px 2.5px #0065FC;
}

#navigation ul li:hover
{
    background: #DEEBFF;    
}


#tete
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#logo
{
    width: 80%;
    padding-left: 130px;
}

.fil4 a
{
    width: 200px;
    display: flex
}

.info2
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#filtres
{
    display: flex;
    flex-direction: column;
}



/*Main(section-aside)*/

#section1
{
    width: 407px;
    padding-bottom: 2%;
}

#cartesH div[class*="carte"]
{
    width: 170px;
}

aside
{
    width: 350px;
   
}

#main
{
    background-color: #DEEBFF;
    border-radius: 25px 25px 0px 0px;
    background-size: 5%;
}

aside .titreP
{
    position: relative;
    bottom: 10px;
}

#cartesP
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
   
}

#cartesP div[class*="carte"]
{
    width: 80%;
    height: 140px;
}

#cartesP .imageC1, #cartesP .imageC3
{
    width: 50%;
}

#cartesP .imageC1 img, #cartesP .imageC2 img
{
    height: 110%;
}

#cartesP .etoilesC1
{
    margin-top: 25%;
}

#cartesP .imageC2
{
    width: 75%;
}

#cartesP .etoilesC2
{
    margin-top: 30%;
}

#cartesP .prixC1 p
{
    width: 120%;
}

#cartesP .imageC3 img
{
    height: 120%;
}

#cartesP .etoilesC3
{
    margin-top: 45%;
}
