*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght") format("truetype");
    font-weight: normal;
}

#bloc_page
{
    width: 1300px;
    margin: auto;
}

header, main
{
    width: 95%;
    margin-left: 2.5%;
}

body
{
    font-family: "Raleway", sans-serif;
    font-size: small;
}

body ul
{
    list-style-type: none;
}

body a
{
    text-decoration: none;
    color: black;
}

h2
{
    font-size: 133%;
}



/*Tête*/

#navigation
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    width: 110px;
    margin: 10px 15px;
    height: 50px;
}

#navigation ul
{
    display: flex;
    justify-content: flex-end;
    margin-top: 0%; 
    padding-top: 3%;
}

#navigation li
{
    margin-right: 5%;
}

#navigation a
{
    border-top: #0065FC; 
    padding: 20px;
}

#navigation a:hover
{
    border-top: #0065FC solid; 
    color: #0065FC;
}

#tete h2
{
    margin-bottom: 0.5%;
}

.info
{
    margin-top: 0%;
}




/*barre recherche*/

form div
{

    display: flex;
}

form i
{
    margin-left: 25% ;
}

form a
{
    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-size: medium;    
    padding: 10px 15px;
    height: 40px;
}

#loupe
{
    display: none;
}

#recherche
{
    height: 40px;
    border: solid #F2F2F2 1px;
}

::placeholder
{
    color:black;
    font-weight: bolder;
    padding: 15px;
}

#bouton
{
    border: none;
    background: #0065FC;
    color: white;
    border-radius: 0px 12px 12px 0px;
    height: 40px;
    padding: 0px 15px;
}




/*filtres*/

#filtres
{
    display: flex;
    font-weight: bold;
    margin: 2% 0%;
}

#filtres > p
{
    margin-right: 2.5%;
}

.partF
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partF p
{
    margin-left: 10%;
}

.partF i
{
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    color: #0065FC;
    margin-left: -2% ;
}

.partF a
{
    border: solid #F2F2F2;
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: 33px;
    border-radius: 20px;
    width: 90%;
}

.partF a:hover
{
    background: #0065FC;
}

.info2
{
    display: flex;
    align-items: center;

}

.info2 i
{
    color: #0065FC;
    border: solid #DEEBFF 2px;
    padding: 0.5%;
    border-radius: 50%;
    font-size: 100%;
    margin-right: 1%;
}




/*Tablette Head*/

@media screen and (max-width: 991px) 
{
    #bloc_page
    {
        width: 890px;
        margin: auto;
    }

    #navigation a:hover
    {
        border-bottom: solid #0065FC;
        border-top: none; 
    }
    
    #tete > p, #tete h2
    {
        text-align: center;
    }

    form
    {
        width: 31.5%;
        margin-left: 30%;
    }


}



/*Phone Head*/

@media screen and (max-width: 767px) 
{
    #logo
    {
       margin-left: 93px;
    }

    #navigation ul {
        justify-content: space-around;
        width: 100%;
    }

    #navigation
    {
        align-items: center;
        flex-direction: column;
    }

    #tete h2, #tete p
    {
        text-align: initial;
    }

    form
    {
        margin: 0%;
    }

    #bouton
    {
        display: none;
    }

    #loupe
    {
        display: block;
        position: relative;
        right: 5px;
        bottom: 1PX;
        
    }

    #loup
    {
        border: none;
        color: white;
        background: #0065FC;
        width: 43px;
        height: 42px;
        border-radius: 30%;
    }

    #loup + i
    {
        color: white;
        position: relative;
        bottom: 30px;
        left: 5px;
    }

    #filtres
    {
        display: initial;
    }

    .partF
    {
        flex-wrap: wrap;
    }

    .partF a
    {
        margin-bottom: 10%;
    }
}




/*Section1-Aside*/

#main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main h2, .titreP
{
    margin: 5% 5% 2%;
}

.carte
{
    transition: 0.5s ease;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
    width: 29%;
    margin: 2%;
    border-radius: 17px;
    height: 180px;
}

.carte:hover
{ 
    transform: scale(1.2);
    box-shadow: 5px 5px 15px #0065FC;
    z-index: 1;
}

#section1, aside
{
    background-color:#F2F2F2;
    border-radius: 20px;
    margin-top: 2%;
}

#section1
{
    width: 60%;
}

aside
{
    width: 38%;
}

#section1 h3
{
    font-size: small;
    margin: 0% 7% 2%;
}

#section1 .etoiles 
{
    display: flex;
    margin: 0% 6% 7%;
}

.bleu i
{
    color: #0065FC;
}

.claire i
{
    color: #F2F2F2;
}


#cartesH
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 2% 5%;
}

#section1 div[class*="imgH"]
{
    margin: 2%; 
    overflow: hidden;
    height: 100px;
    border-radius: 13px 13px 0px 0px; 
}

#section1 img
{
    width: 103%;
    transform: translate(0px, -14%);
}

#section1 .body 
{
    margin-top: 5%;
}

#section1 p
{
    margin: 3% 6%;
}

.plus
{
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}




/*aside*/

.titreP
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cartesP
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

#cartesP a
{
    display: flex;
}

aside .carte 
{
    width: 78%;
    height: 144px;
}

aside h3
{
    font-size: small;
}

aside .etoiles 
{
    display: flex;
    margin-top: 30%;
}

aside div[class*="imgP"] 
{
    margin: 1.5%;
    overflow: hidden;
    height: 133px;
    border-radius: 13px 0px 0px 13px;
    width: 136px;
}

aside .body
{
    margin-left: 5%;
    width: 30%;
}



 /*Tablette Section1-Aside*/

@media screen and (max-width: 991px) 
{
    .carte
    {
        width: 224px;
    }

    aside div[class*="imgP"] 
    {
        width: 108px;
        height: 137px;
    }

    aside .carte 
    {
        margin-bottom: 15%;
    }

    aside .body 
    {
        width: 44%;
    }

    #cartesH
    {
        margin: 0%;
    } 

    .plus
    {
        position: relative;
        bottom: 627px;
        left: 378px;
    }
    
}

@media screen and (min-width: 435px) and (max-width: 767px)
{
    #cartesP .carte
    {
        width: 370px;
    }
}  




/*Phone Section1-Aside*/

@media screen and (max-width: 767px) 
{
    #bloc_page
    {
        width: 100%;
    }
    
    #main
    {
        flex-direction: column;
    }

    #section1
    {
        order: 2;
        width: 100%;
        background-color: initial;
    }
    
    aside
    {
        order: 1;
        width: 100%;
        border-radius: initial;
    }

    #section2
    {
        order: 3;
    }

    .carte 
    {
        width: 355px;
        height: 205px;
    }

    aside .carte 
    {
        margin-bottom: 0%;
        width: 90%;
        height: initial;
    }

    .plus
    {
        position: initial;
    }

    aside div[class*="imgP"]
    {
        width: 148px;
        height: 130px;
    }

    aside .body 
    {
        width: 125px;
    }

    #section1 .carte:hover 
    {
        transform: scale(1.07);
    }

    aside .carte:hover
    {
            transform: scale(1.1);
    }

    #cartesH
    {
        margin-bottom: 5%;
    }
}


/*Section 2*/

#section2
{
    width: 100%;
    margin-top: 5%;
    height: 100%;
}

#section2 h2
{
    margin: 0% 0% 2%;
}

#cartesA
{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

#section2 div[class*="imgA"]
{
    overflow: hidden;
    height: 78%;
    border-radius: 10px 10px 0px 0px;
}

.carteM
{
    height: 100%;
    width: 45%;
    border-radius: 15px 15px 15px 15px;
    transition: 0.5s ease;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
}

.carteM:hover
{ 
    transform: scale(1.2);
    box-shadow: 5px 5px 15px #0065FC;
    z-index: 1;
}

.imgM
{
    height: 90%;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;

}

#section2 .carte
{
    height: 47%;
    width: 50%;
    margin-top: 0%;
    margin: initial;
    border-radius: 15px 15px 15px 15px;
}

.Apart
{
    display: flex;
    flex-flow: column wrap;
    height: 390px;
    width: 48%;
    justify-content: space-between;
    align-content: space-between;
}

#section2 h3
{
    margin-left: 5%;   
}



/*Footer*/

footer
{
    background-color: #F2F2F2;
    margin-top: 4%;
    height: 100%;
}


.Sfooter
{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2.5%;
}

.Sfooter ul 
{
    padding-left: 0%;
}

.Sfooter li
{
    margin-bottom: 5%;
}




@media screen and (min-width: 435px) and (max-width: 767px)
{
    #cartesA
    {
        flex-direction: column;
    }

    .Apart
    {
        width: 100%;
        margin-top: 3%;
        height: 526px;
    }

    #section2 .carte:hover 
    {
        transform: scale(1.07);
    }

    #section2 .carteM:hover 
    {
        transform: scale(1.07);
    }

}  

@media screen and (max-width: 530px)
{
    #cartesA
    {
        flex-direction: column;
    }

    .Apart
    {
        width: 100%;
        height: 100%;
        align-content: center;
    }

    #section2 .carte, .carteM
    {
        width: 355px;
        height: 205px;
        margin: 3%;
    }

    .imgM 
    {
        height: 80%;
    }

    .Sfooter
    {
        display: initial;            
    }

    .Sfooter nav
    {
        margin-left: 5%;
    }

}