*
{
    box-sizing: border-box;
}

@font-face 
{
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght") format("truetype");
    font-weight: normal;
}

/*Tête*/

#bloc_page
{
    width: 1100px;
    margin: auto;
}

body
{
    font-family: "Raleway", sans-serif;
    font-size: small;
}

h2
{
    font-size: large;
}

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#navigation
{
    width: 30%;   
}

#navigation ul
{   
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin: 0%;
}

#navigation a, form div a
{
    text-decoration: none;
    color: black;
}

#navigation a:hover
{
    color: #0065FC;
    border-top: solid;
    padding-top: 50px;
}

#logo
{
    width: 20%;
    margin-left: 2%;
    padding: 0%;
}

#tete h2
{
    margin-bottom: 1%;
}

.info
{
    margin-top: 0%;
}

form div
{

    display: flex;
}

form div i
{

    background: #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    font-size: medium;    
    padding: 10px;
    height: 35px;
}

#recherche
{
    height: 35px;
    border: solid #F2F2F2;
}

::placeholder
{
    color:black;
    font-weight: bolder;
    padding: 10px;
}

#bouton
{
    border: none;
    background: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    height: 35px;
}

#loupe
{
    display: none;
}

#filtres
{
    display: flex;
    font-weight: bold;
    align-items: center;
    height: 15%;
    justify-content: space-between;
    margin: 2% 0%;
}

.fil
{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    margin-left: 2% ;
}

.fil a
{
    border: solid #F2F2F2;
    text-decoration: none;
    color: #0065FC;
    display: flex;
    align-items: center;
    margin-right: 50px;
    height: 33px;
    border-radius: 20px;
    width: 85%;
}

.fil i
{
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
}

.fil p
{
    color: black;
    margin-left: 10%;
}

.fil4 a
{
    width: 100%;
}

.fil a:hover
{
    background: #0065FC;
}

.info2
{
    display: flex;
    align-items: center;
}

.info2 i
{
    color: #0065FC;
    border: solid #DEEBFF 2px;
    padding: 0.5%;
    border-radius: 50%;
    font-size: 80%;
    margin-right: 1%;
}




/*Main*/
#main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
}

#main h3
{
    font-size: small;
    margin: 0% 7% 2%;
}

#main div[class*="carte"]
{
    transition: 0.5s ease;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
}

#main div[class*="carte"]:hover
{ 
    transform: scale(1.2);
    box-shadow: 5px 5px 15px #0065FC;
    z-index: 1;
}

#main a[href*="#"]
{
    text-decoration: none;
    color: black;
}

#section1, aside
{
    background-color: #F2F2F2;
    border-radius: 25px;
}

div[class*="etoiles"] 
{
    display: flex;
}

.bleu i
{
    color: #0065FC;
}

.claire i
{
    color: #F2F2F2;
}





/*section*/

#section1
{
    width: 60%;
}

#section1 h2
{
    margin: 5% 5% 2.5%;
}

#cartesH
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0% 2% 3%;
}

#cartesH div[class*="carte"]
{
    width: 30%;
    margin: 1%;
    border-radius: 10%;
    height: 0%;
}

#section1 div[class*="imageC"]
{
    margin: 3%; 
    overflow: hidden;
    height: 90px;
    border-radius: 10px 10px 0px 0px; 
}

#section1 .imageC1 img
{
    width: 105%;
    transform: translate(-6px, -15%);
}

#section1 .imageC2 img,  #section1 .imageC3 img
{
    width: 110%;
    transform: translate(-6px, -15%);
}

#section1 .imageC4 img
{
    width: 110%;
    transform: translate(-6px, -25%);
}

#section1 .imageC5 img
{
    width: 110%;
    transform: translate(-6px, -5%)
}

#section1 .imageC6 img
{
    width: 110%;
    transform: translate(-6px, -35%)
}

#section1 p
{
    margin: 3% 6%;
}

#section1 div[class*="etoiles"]
{
    margin: 0% 6% 7%;
}

.plus
{
    margin-left: 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}




/*aside*/

aside
{
    width: 37%;
}

#cartesP
{
    margin-left: 7%;
}

#cartesP a
{
    display: flex;
    width: 90%;
}

#cartesP p
{
    margin: 0%;
}

.titreP
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4%;
}

.titreP i
{
    font-size: large;
}

#cartesP h3
{
    margin-top: 10%;
}

#cartesP div[class*="carte"]
{
    display: flex;
    width: 75%;
    height: 110px;
    margin: 6% 10%;
    border-radius: 15px;
}

#cartesP div[class*="image"]
{
    overflow: hidden;
    margin: 2%;
    border-radius: 10px 0px 0px 10px;
}

#cartesP .imageC1 img
{
    height: 115px;
}

#cartesP .imageC1, #cartesP .imageC3
{
    width: 35%;
}

#cartesP .imageC2
{
    width: 45%;
}

aside .imageC1 img, aside .imageC2 img
{
    width: 180%;
    transform: translate( -40px, -10%);
}

aside .imageC3 img
{
    width: 100%;
    transform: translate( 0px, -15%);
}

aside div[class*="prix"]

{
    margin-left: 7%;
}

#cartesP .prixC1 
{
    height: 25%;
}

#cartesP .etoilesC1
{
    margin: 7%;
}

#cartesP .etoilesC2
{
    margin: 13% 7%;
}

#cartesP .etoilesC3
{
    margin: 16% 7%;
}




/*section 2*/

#section2
{
    width: 100%;
    margin-top: 2%;
}

#cartesA
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

 .carteM 
{
    width: 245px;
    height: 350px;
}


.Apart1, .Apart2
{
    display: flex;
    width: 48.5%;
    justify-content: space-between;
}

.imageM
{
    overflow: hidden;
    height: 305px;
    border-radius: 15px 15px 0px 0px;
}

#cartesA div[class*="titre"]
{
    margin-top: 6%
}

#cartesA div[class*="imageC"]
{
    overflow: hidden;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.Spart1, .Spart2
{
    width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#cartesA div[class*="carte"]
{
    border-radius: 15px 15px 15px 15px;
}

.Spart1 .carte1 
{
    height: 185px;
}

.Spart1 .carte2 
{
    height: 135px;
}

.Spart2 .carte1 
{
    height: 150px;
}

.Spart2 .carte2 
{
    height: 170px;
}

.Spart1 .imageC1 
{
    height: 140px;  
}

.Spart1 .imageC2 
{
    height: 90px;  
}

.Spart2 .imageC1
{
    height: 105px;  
}

.Spart2 .imageC2 
{
    height: 125px;    
}

.Apart1 .carteM img
{
    width: 474px;
    transform: translate(-100px, 0px); 
}

.Spart1 .imageC1 img 
{
    width: 265px;
    transform: translate(-5px, -115px);   
}

.Spart1 .imageC2 img
{
    width: 265px;
    transform: translate(0px, -25px);  
}

.Apart2 .carteM img
{
    width: 470px;
    transform: translate(-85px, -5px);     
}

.Spart2 .imageC1 img
{
    width: 260px;
    transform: translate(-0px, -3px); 
}

.Spart2 .imageC2 img 
{
    width: 266px;
    transform: translate(0px, -20px); 
}



/*Footer*/

footer
{
    position: relative;
    padding: 3% 0% 3% 0%;
    right: 25px;
    margin-top: 5%;
    background-color: #F2F2F2;
    width: 1145px;
}

.Sfooter
{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-left: 2.5%;
}

.Sfooter a
{
    text-decoration: none;
    color: black;
}

.Sfooter ul
{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 5%;
}

.Sfooter ul li
{
    margin-bottom: 5%;
}